/* mise en place du flex-wrap */
    .Pendu{
        display: flex;
        flex-wrap: wrap;
        min-height: 100vh;
        text-align: center;
    }

    .Hideletter{
        width: 100%;
    }

    .word{
        width: 100%;

    }

    .keyboard{
        width: 40%;

    }

    .draw{
        width: 100%;
    }

/*affichage en cas de victoire */
    #win{
        position: absolute;
        width: 100%;
        height: 100vh;
        background-color: white;
    }

/*affichage en cas de défaite */
    #loose{
        position: absolute;
        width: 100%;
        height: 100vh;
        background-color: white;
    }
